{% apply spaceless %}
    <h3 id="polygon_popup_name"></h3>
    <p id="polygon_popup_type"></p>

    <p>
        {{ 'Factions' | trans }} :
        <span id="polygon_popup_faction"></span>
    </p>
{% endapply %}
