{% apply spaceless %}
    <h3>{{ 'Zones' | trans }}</h3>
    <button class="btn btn-small" data-save data-save-zone type="button">
        {{ 'action.save'|trans }}
        <span class="progress"><span class="indeterminate"></span></span>
    </button>
     
    <button class="btn btn-small red darken-2" data-delete data-delete-zone type="button">
        {{ 'action.delete'|trans }}
        <span class="progress"><span class="indeterminate"></span></span>
    </button>
    {{ form(form) }}
{% endapply %}
