{%- apply spaceless %}
    <h3 id="polyline_popup_name" class="text-xxl"></h3>
    <p id="polyline_popup_type"></p>

    <p>
        {{ 'Factions' | trans }} :
        <span id="polyline_popup_faction"></span>
    </p>

    <p>
        {{ 'Départ' | trans }} : <span id="polyline_popup_markerStart"></span>
    </p>
    <p>
        {{ 'Arrivée' | trans }} : <span id="polyline_popup_markerEnd"></span>
    </p>
{% endapply %}
